.container img{
    height:  280px;
    width: 280px;
}
.container{
    margin: 10px;
    background-color: #ececec;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(189, 189, 189);
    cursor: pointer;
}
.container h3{
    color: #696969;
    margin: 30px 20px 20px;
}
.container p{
    color: #696969;
    margin: 0 25px 20px;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(10, 145, 46);
}
.counter{
    display: flex;
    align-items: center;
    border-top: 1px solid silver;
}
.counter img{
    width: 20px;
    height: 20px;
    margin: 20px;
    cursor: pointer;
}
.counter span{
    background-color: blueviolet;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
.downdisplay{
    opacity: 0.3;
}